<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{25} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.alexishuf.fastersparql" level="DEBUG"/>
    <logger name="com.github.alexishuf.fastersparql.org" level="INFO"/>
    <logger name="org.eclipse.rdf4j.federated" level="INFO"/>
    <logger name="QueryLog" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>